@charset "utf-8";
/* CSS Document */
.header{ display:none;}
.page-wrap { top:0;}
.wrap { margin:0; box-sizing:border-box; padding:0; width:100% !important;}
.wrap-layer-active { width:auto;}
.panel { top:0;}
